.container {
  width: 980px;
}
#list20 li {
  width: 260px;
  float: left;
}
.of {
  overflow: hidden;
}
.img_thumb li {
  float: left;
  margin: 0 6px 6px 0;
}
.img_thumb li img {
  cursor: url(http://img.t.sinajs.cn/t5/style/images/common/big.cur), auto !important;
}
.preivew_box {
  position: relative;
  width: 557px;
  border: 1px solid #DEDEDE;
  padding: 10px;
  display: none;
}
.preivew_box .left,
.preivew_box .right {
  display: none;
}
.preivew_box .left span,
.preivew_box .right span {
  position: absolute;
  top: 60px;
}
.img_preview {
  position: relative;
  margin: 0;
  list-style: none;
}
.img_preview li {
  text-align: center;
  display: none;
}
.img_preview li img {
  cursor: url(http://img.t.sinajs.cn/t5/style/images/common/small.cur), auto !important;
}
.img_preview li.active {
  display: block;
}
.tips {
  text-align: center;
}
