#page {
  margin: 2em auto;
  max-width: 1000px;
}
nav {
  border: 1px solid #666;
}
nav li {
  float: left;
}
nav li.current-cat a {
  color: red;
}
#main {
  clear: both;
  width: 600px;
  float: left;
}
#content {
  clear: both;
}
footer {
  clear: both;
}
#sidebar {
  width: 200px;
  float: left;
}
#piece li {
  font-size: 12px;
  border-bottom: 1px solid #666;
}
#list20 li {
  float: left;
  width: 300px;
}
