.container{
	width: 980px;
}
#list20{
	li{
		width: 260px;
		float: left;
	}
}
.of{
	overflow: hidden;
}

.img_thumb{
	li{
		float: left;
		margin: 0 6px 6px 0;
	}
}

.preivew_box{
	position: relative;
	width: 557px;
	border: 1px solid #DEDEDE;
	padding: 10px;
	display: none;
	.left,.right{
		display: none;
		span{
			position: absolute;
			top: 60px;
		}
	}
}
.img_preview{
	position: relative;
	margin: 0;
	list-style: none;
	li{
		text-align: center;
		display: none;
	}
	li.active{
		display: block;
	}
}
.tips{
	text-align: center;
}